{% extends 'base.html' %} {% block css %} {% load static %}
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="{% static 'diary.css' %}" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
{% endblock %} {% block h1 %} 그 림 일 기 {% endblock %} {% block section %}
<div id="diary-container">
    <div id="date-container">
        <div>
            <span class="year">${year}</span><span>년</span> 
            <span class="month">${month}</span><span>월</span> 
            <span class="day">${day}</span><span>일</span> 
            <span class="weekday">${weekday}</span><span>요일</span>
        </div>
        <span class="weather">🌞맑음!</span>
    </div>
    
    <div class="img_cut"> 
        <img
        id="image-preview"
        src="data:image/png;base64,{{image}}"
        alt="Preview"
        />
    </div>
    
    <div class="title_div">제목 : {{title}}</div>

    <div class="manuscript-container">
      <div class="manuscript">
        <div id="displayArea" class="content-div">{{content}}</div>
      </div>
    </div>
  </div>

  <div class="downloadWrapper">
    <button type="button" class="styled_button" onclick="saveImage()">저장</button>
  </div>
  
  <hr style="width: 100%;">
  
  <div class="user_input">
    <form id="diary-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="date"></div>
  
        <div class="title input_div">
          <p class="input_left">제목</p>
          <input
              type="text"
              id="title"
              name="title"
              placeholder="제목을 입력해주세요"
              value="{{title}}"
              class="titleInput input_center"
              maxlength="15"
          />
          <div class="input_right"></div>
        </div>
        <div class="content input_div">
          <p class="input_left">내용</p>
            <textarea
                name="content"
                id="myInput"
                cols="10"
                rows="3"
                class="contentInput input_center"
                maxlength = "59"
                placeholder="내용을 입력해주세요"
                oninput="displayInput()"
            >{{content}}</textarea>
            <div class="input_right"></div>
        </div>
        <div class="upload_img">
            <label for="image-input" class="styled_button">그림 올리기</label>
            <input
              type="file"
              name="image"
              id="image-input"
              onchange="previewImage(event)"
              style="display: none;"
          />
        </div>
    </form>
  </div>

  <div class="fame_container">
    <a href="https://instagram.com/next_pngmakers?igshid=NTc4MTIwNjQ2YQ==">명예의 전당 구경가기</a>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    function dateControl() {
    const yearContainer = document.querySelector(".year");
    const monthContainer = document.querySelector(".month");
    const dayContainer = document.querySelector(".day");
    const weekdayContainer = document.querySelector(".weekday");

    const today = new Date();
    const year = today.getFullYear();
    const month = String(today.getMonth() + 1).padStart(2, "0");
    const day = String(today.getDate()).padStart(2, "0");
    const weekday = ["일", "월", "화", "수", "목", "금", "토"][today.getDay()];

    yearContainer.innerText = year;
    monthContainer.innerText = month;
    dayContainer.innerText = day;
    weekdayContainer.innerText = weekday;
    }

    dateControl();

    const titleDiv = document.querySelector(".title_div");
    const contentDiv = document.querySelector(".content_div");

    const title = document.querySelector(".title");
    const content = document.querySelector(".content");

    title.addEventListener("input", (e) => {
      const title = e.target.value;
      titleDiv.innerHTML = title;
    });
    function displayInput() {
      const inputText = document.getElementById("myInput").value;
      document.getElementById("displayArea").innerText = inputText;
      initManuscript();
    }

    function initManuscript() {
      const manuscript = document.querySelectorAll(".manuscript");
      const handleResize = () => {
        manuscript.forEach((elt) => {
        //   resizeMnuascriptContainer(elt);
          resizeImage(elt);
        });
      };

      window.addEventListener("load", handleResize, { passive: true });
      window.addEventListener("resize", handleResize, { passive: true });

      manuscript.forEach((element) => {
        element.querySelectorAll("#displayArea").forEach((element) => {
          const text = element.innerText;

          element.innerHTML = "";
          let lineCount = 0;
          let charCount = 0;

          [...text].forEach((word) => {
            if (charCount >= 60 || lineCount >= 5) {
              return;
            }

            const span = document.createElement("span");
            const textNode = document.createTextNode(word);
            if (word === " "){
                span.setAttribute("class", "blank")
            }
            span.appendChild(textNode);
            element.append(span);
            
            charCount++;

            if (charCount % 12 === 0) {
              element.appendChild(document.createElement("br"));
              lineCount++;
            }
          });
        });
      });

      handleResize();
    }

    function resizeImage(element) {
      element.querySelectorAll("img").forEach((img) => {
        const { naturalWidth, naturalHeight } = img;
        const ratio = naturalHeight / naturalWidth;
        const newHeight = element.offsetWidth * ratio;

        img.height = Math.floor(newHeight - (newHeight % 32) - 8);
      });
    }

    initManuscript();
    
    function previewImage(event) {
      const input = event.target;
      const preview = document.getElementById("image-preview");

      if (input.files && input.files[0]) {
        const reader = new FileReader();

        reader.onload = function (e) {
          preview.src = e.target.result;
          preview.style.display = "block";
        };

        reader.readAsDataURL(input.files[0]);
      } else {
        preview.src = "#";
        preview.style.display = "none";
      }
    }
    const saveImage = async () => {
        const container = document.getElementById("diary-container");

        const titleInput = document.querySelector('#title')
        const contentInput = document.querySelector('#myInput')
 
        let image; // image 변수를 함수 스코프에 선언

        try {
            const canvas = await html2canvas(container); // html2canvas 함수를 await로 호출하여 canvas를 얻음
            image = canvas.toDataURL(); // 스크린샷 이미지 데이터를 image 변수에 할당

            const link = document.createElement("a");
            link.href = image;
            link.download = "diary_screenshot.png";
            link.click();

            const base64String = image;
            const startIndex = base64String.indexOf(',') + 1;
            const trimmedString = base64String.substring(startIndex);

            const res = await axios.post('/create_diary/', {
            title: titleInput.value == undefined ? '' : titleInput.value,
            content: contentInput.value == undefined ? '' : contentInput.value,
            img: trimmedString
            });
            console.log(res);
        } catch (e) {
            console.error(e);
        }
    };
   
  </script>
  {% endblock %}
</div>