{% extends 'base.html' %} {% block css %} {% load static %}
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="{% static 'diary.css' %}" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
{% endblock %} {% block h1 %} 그 림 일 기 {% endblock %} {% block section %}
<div id="diary-container">
    <div id="date-container">
        <div>
            <span class="year">${year}</span><span>년</span> 
            <span class="month">${month}</span><span>월</span> 
            <span class="day">${day}</span><span>일</span> 
            <span class="weekday">${weekday}</span><span>요일</span>
        </div>
        <span class="weather">🌞맑음!</span>
    </div>
    
    <div class="img_cut"> 
        <img
        id="image-preview"
        src="data:image/png;base64,{{image}}"
        alt="Preview"
        />
    </div>
    
    <div class="title_div">제목 : {{title}}</div>

    <div class="manuscript-container">
      <div class="manuscript">
        <div id="displayArea" class="content-div">{{content}}</div>
      </div>
    </div>
  </div>

  <div class="downloadWrapper">
    <button type="button" class="styled_button" onclick="saveImage()">저장</button>
  </div>
  
  <hr style="width: 100%;">
  
  <div class="user_input">
    <form id="diary-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="date"></div>
  
        <div class="title input_div">
          <p class="input_left">제목</p>
          <input
              type="text"
              id="title"
              name="title"
              placeholder="제목을 입력해주세요"
              value="{{title}}"
              class="titleInput input_center"
              maxlength="15"
          />
          <div class="input_right"></div>
        </div>
        <div class="content input_div">
          <p class="input_left">내용</p>
            <textarea
                name="content"
                id="myInput"
                cols="10"
                rows="3"
                class="contentInput input_center"
                maxlength = "59"
                placeholder="내용을 입력해주세요"
                oninput="displayInput()"
            >{{content}}</textarea>
            <div class="input_right"></div>
        </div>
        <div class="upload_img">
            <label for="image-input" class="styled_button">그림 올리기</label>
            <input
              type="file"
              name="image"
              id="image-input"
              onchange="previewImage(event)"
              style="display: none;"
          />
        </div>
    </form>
  </div>

  <div class="fame_container">
    <a href="https://instagram.com/next_pngmakers?igshid=NTc4MTIwNjQ2YQ==">명예의 전당 구경가기</a>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../static/js/diary.js"></script>
  {% endblock %}