{% extends 'base.html' %}
{% load static %}
{% block h1 %}구 라 증{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'fake.css' %}" />
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

{% block section %}
    <div class="container">
        <div class="child">
            
            <div class="our_example" id="our_example">
                <img src="../static/images/layer.png" class="layer" />
                <div class="title_div">{{title}}</div>
                <div class="stamp_container_div">
                    <img src="../static/images/stampbox.png" height="30px" width="30px">
                </div>
                <div class="stamp_div_1">
                    <img id="stamp_1" class="image-preview_2" src="data:image/png;base64,{{stampImg1}}" height="15px" width="15px">
                </div>
                <div class="content_div">{{content}}</div>
                <div class="background_div">
                    <img id="image-preview" src="data:image/png;base64,{{markImg1}}" alt="Preview" class="bck_img" height="130px" width="130px"/>
                </div>
                <div class="sign_div">{{sign}}</div>
                <div class="stamp_div_2">
                    <img id="stamp_2" class="image-preview_2" src="data:image/png;base64,{{stampImg1}}" height="50px" width="50px">
                </div>    
            </div>

            <div class="downloadWrapper">
                <button class="styled_button download" type="button" onclick="saveImage()">저장</button>
            </div>
            <hr style="width: 100%;">
            <div class="user_input">
                <form enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="title input_div">
                        <p class="input_left">제목</p>
                        <input type ="text" id="title" name="title" class="titleInput input_center" placeholder="제목을 입력해 주세요." value="{{title}}" maxlength='10'/>
                        <div class="input_right"></div>
                    </div>
                    <div class="content input_div">
                        <p class="input_left">내용</p>
                        <textarea name ="content" id="content" cols="10" rows="3" class="contentInput input_center" placeholder="내용을 입력해 주세요." maxlength='54'>{{content}}</textarea>
                        <div class="input_right"></div>
                    </div>
                    <div class="sign input_div">
                        <p class="input_left">싸인</p>
                        <input type="text" id="sign" name="sign" class="signInput input_center" placeholder="고려대학교 총장 김동원" value="{{sign}}" maxlength='13'/>
                        <div class="input_right"></div>
                    </div>        
                </form>

                <div class="button_div">
                    <button class="styled_button open-button">배경 마크 고르기</button>
                    <button class="styled_button" id="open-button_2">직인 고르기</button>
                </div>
            </div>
            
            <hr style="width:100%;">
            
            <div class="fame_container">
                <a href="https://instagram.com/next_pngmakers?igshid=NTc4MTIwNjQ2YQ==">명예의 전당 구경가기</a>
            </div>
            <div class="modal hidden" id="modal_1">
                <div class="modal-content">
                    <div>
                        <p>배경 마크 고르기</p>
                    </div>
                    <div class="box">
                        <div class="mark_div">
                            <img class="mark_img" id="mark_1" src="data:image/png;base64,{{markImg1}}" onClick="onMarkChange(event)"/>
                        </div>
                        <div class="mark_div">
                            <img class="mark_img" id="mark_2" src="data:image/png;base64,{{markImg2}}" onClick="onMarkChange(event)"/>
                        </div>
                        <div class="mark_div">
                            <img class="mark_img" id="mark_3" src="data:image/png;base64,{{markImg3}}" onClick="onMarkChange(event)"/>
                        </div>
                        <div class="mark_div" id="add_mark">
                            <label class="custom-input">
                                <img class="custom-button" src="../static/images/add.png" />
                                <input class="mark_img add_img" type="file" name="image" id="image-input" onChange="previewImage(event)" />
                            </label>
                        </div>
                        <button class="close">❌</button>
                    </div>
                    
                    <div>
                        <p>오른쪽 + 버튼을 눌러 마크를 직접 추가하세요!</p>
                    </div>
                </div>
                <div class="modal-overlay"></div>
            </div>

            <div class="modal hidden" id="modal_2">
                <div class="modal-content">
                    <div>
                        <p>직인 고르기</p>
                    </div>
                    
                    <div class="box">
                        <div class="mark_div">
                            <img class="mark_img" id="stamp_1" src="data:image/png;base64,{{stampImg1}}" onClick="onStampChange(event)"/>
                        </div>
                        <div class="mark_div">
                            <img class="mark_img" id="stamp_2" src="data:image/png;base64,{{stampImg2}}" onClick="onStampChange(event)"/>
                        </div>
                        <div class="mark_div">
                            <img class="mark_img" id="stamp_3" src="data:image/png;base64,{{stampImg3}}" onClick="onStampChange(event)"/>
                        </div>
                        <div class="mark_div" id="add_mark">
                            <label class="custom-input">
                                <img class="custom-button" src="../static/images/add.png" />
                                <input class="mark_img add_img" type="file" name="image" id="image-input" onChange="previewImage_2(event)" />
                            </label>
                        </div>
                        <button class="close">❌</button>
                    </div>
                    
                    <div>
                        <p>오른쪽 + 버튼을 눌러 직인을 직접 추가하세요!</p>
                    </div>
                </div>
                <div class="modal-overlay"></div>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/js/fake.js"></script>
{% endblock %}