<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>랜딩 페이지</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
  </head>
  <body>
    <header>
      <a class="header_left" href="{% url 'home' %}" ><img class="logo" src="../static/images/logo.png"/></a>
      <h1 class="header_center main text-neon1 wave-text">하찮괜찮</h1>
      <div class="header_right"></div>
    </header>
    <section>
      <div class="title">구라증과 그림일기</div>

      <div class="arrow_container" id="arrow_1">
        <img class="arrow" src="../static/images/landingPage/3.png" />
      </div>

      <div class="box">
        <div class="image-container">
          <a href="{% url 'fake' %}"
            ><img class="pic" src="../static/images/landingPage/a.png"
          /></a>
        </div>

        <div class="image-container">
          <a href="{% url 'diary' %}"
            ><img class="pic" src="../static/images/landingPage/b.png"
          /></a>
        </div>
      </div>

      <div class="arrow_container" id="arrow_2">
        <img class="arrow1" src="../static/images/landingPage/6.png" />
      </div>
      <div class="click">클릭하쉴?</div>
    </section>  
    <footer>
      <div>
        <p style="font-size: 0.75rem">Developed by KU NEXT, Team 'SorryMom'</p>
        <p style="font-size: 0.5em">
          Lee Youngchan, Park Gyungbin, Son Yeowon<br />Kim Hyein, Choi Seongho
        </p>
      </div>
    </footer>
  </body>
</html>
