<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>랜딩 페이지</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
  </head>
  <body>
      <h1 class="text-neon1 wave-text">차린건 없지만~</h1>
      <img class="a" src="../static/images/landingPage/8.png" />
      <img class="arrow" src="../static/images/landingPage/3.png" />
      <span>구라증과 그림일기~</span>
      <br>
      <div class="box">
        <div class="image-container">
        <a href="{% url 'fake' %}"
          ><img class="pic" src="../static/images/landingPage/a.png"
        /></a>
        </div>

        <div class="image-container">
        <a href="{% url 'diary' %}"
          ><img class="pic" src="../static/images/landingPage/b.png"
        /></a>
      </div>
      </div>

        <img class="arrow1 text-neon" src="../static/images/landingPage/6.png" />
      <img class="arrow1 text-neon" src="../static/images/landingPage/5.png" />

      <p class="text-neon">클릭하쉴?</p>
  </body>
</html>