@font-face {
    font-family: "UhBeeJJIBBABBA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeJJIBBABBA.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
*{
    padding: 0;
    margin: 0;
}
html{
  background-color: white;
}
body {
    max-width: 430px;
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: #fffcf2;
    margin: 0 auto; 
}

button,
input,
textarea {
  font-family: "UhBeeJJIBBABBA";
}
header {
    width: 88%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
section{
    width: 88%;
    height: 83%;
}
a {
    position: relative;
    color: #519d9e;
  }
  h1 {
    font-family: "UhBeeJJIBBABBA";
    min-width: 90px;
    position: relative;
    /* left: 160px; */
  }
footer{
  width: 88%;
  height: 7%;
}
p{
  text-align: center;
}