@font-face {
  font-family: "UhBeeKang-Ja";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeKang-Ja.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  font-family: "UhBeeKang-Ja";
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "UhBeeKang-Ja";
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 5px #320000, 0 0 10px #fff, 0 0 15px #5a0606,
    0 0 20px #ff00de, 0 0 30px #cdf006, 0 0 40px #fff200, 0 0 55px #ff00de,
    0 0 75px #eafa06;
}
.arrow {
  width: 50px;
  margin: 0 3% 3% 0;
}

.title {
  position: relative;
  font-family: "UhBeeKang-Ja";
  font-size: 1.5rem;
}

.box {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.image-container {
  width: 40%;
}

.arrow_container {
  display: flex;
  position: relative;
}
#arrow_1 {
  justify-content: flex-end;
}
#arrow_2 {
  justify-content: flex-start;
}
.pic {
  width: 100%;
  height: 100%;
  animation: neonBlink 1s infinite alternate;
  border-radius: 30px;
  border: 2px solid rgb(57, 57, 57);
}

@keyframes neonBlink {
  0% {
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.2);
  }
}

.click {
  font-family: "UhBeeKang-Ja";
  font-size: 30px;
  font-weight: 800;
  color: rgb(255, 101, 232);
  margin: 0;
}

.arrow1 {
  width: 50px;
  top: 80%;
  left: 5%;
  margin: 3% 0 0 3%;
}