/* 어비폰트 - 웹폰트 설정영역 */
@font-face {font-family: 'UhBeeKang-Ja';src: url('UhBeeKang-Ja.eot');}
@font-face {font-family: 'UhBeeKang-Ja';src: url('UhBeeKang-Ja.woff') format('woff');}
article { font-family: "UhBeeKang-Ja", serif;}
textarea  {font-family: "UhBeeKang-Ja", serif; }